.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3 7 18);

  div {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-title {
      cursor: pointer;

      .link-title {
        font-size: 1.6rem;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: rgb(196, 199, 255);
        }
      }
    }

    .nav-ul {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      gap: 20px;

      ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        gap: 20px;

        li {
          .link-li {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            transition: color 0.3s ease;

            &:hover {
              color: rgb(196, 199, 255);
            }
          }
        }
      }

      .link-select {
        padding: 10px;
        border: none;
        border-radius: 5px;
        
      }
    }
  }
}
