.div-container {
  background-color: #f0f0f0;
}

.loading {
  padding: 20px 20px;
  background-color: #f0f0f0;
  height: 100vh;
}

.head-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b4b4b;

  h1 {
    margin: 20px 0;
  }
}

.add-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;

  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 300px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.05);
    }

    p {
      margin: 8px 0;
      font-size: 1rem;
      color: #333;

      &:first-child {
        font-weight: bold;
        font-size: 1.2rem;
        color: #007bff;
        text-align: center;
      }

      &:nth-child(2) {
        color: #28a745;
      }

      &:nth-child(3) {
        color: #ffc107;
      }

      &:nth-child(4) {
        color: #6c757d;
        text-align: center;
      }

      &:last-child {
        font-size: 14px;
        color: #777;
      }
    }

    .card-btn-container {
      display: flex;
      gap: 10px;
    }
  }
}
